.recent-walks-container,
.longest-walks {
  max-height: 400px;
  overflow-y: scroll;
}

.walk-img {
  height: 8rem;
  width: 15rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.walk-card {
  border-bottom: 1px solid gray;
}

.carousel {
  width: 800px; /* set the height to your desired value */
  overflow: hidden;
}

.messages {
  overflow-y: scroll;
  max-height: 300px;
}

.recent-walks-box {
  max-height: 300px;
  overflow-y: scroll;
}

.ranking-sect {
  border: solid 0.25px rgb(128, 128, 128);
  border-radius: 25%;
}
